<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.pnc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logogyaan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Courses_my"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".Support"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".tnc"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".AboutusActivity"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".assign_list"
            android:parentActivityName=".SubjectPageActivity" />
        <activity
            android:name=".study_mat_list"
            android:parentActivityName=".SubjectPageActivity" />
        <activity android:name=".Pdf" />
        <activity
            android:name=".PlayVideo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".VideoList"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VideoList"
            android:parentActivityName=".SubjectPageActivity" />
        <activity
            android:name=".SubjectPageActivity"
            android:parentActivityName=".Courses" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".Forum_activity" />
        <activity android:name=".ImageViewerActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".Find_faculty" />
        <activity
            android:name=".Find_faculty"
            android:parentActivityName=".Forum_activity" />
        <activity
            android:name=".Forum_activity"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".Courses"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".Self_Profile_Activity"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".login_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_activity" />
    </application>

</manifest>