<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.pnc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VideoList"
            android:theme="@style/Theme.Design.NoActionBar"
            android:parentActivityName=".SubjectPageActivity"
            ></activity>
        <activity android:name=".SubjectPageActivity"
            android:parentActivityName="Courses"  />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".Forum_activity" />
        <activity android:name=".ImageViewerActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".Find_faculty" />
        <activity
            android:name=".Find_faculty"
            android:parentActivityName=".Forum_activity" />
        <activity
            android:name=".Forum_activity"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".Forum_activity" />
        <activity android:name=".ImageViewerActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".Find_faculty" />
        <activity
            android:name=".Find_faculty"
            android:parentActivityName=".Forum_activity" />
        <activity
            android:name=".Forum_activity"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".Courses"
            android:parentActivityName=".Home_activity" />
        <activity
            android:name=".Self_Profile_Activity"
            android:parentActivityName=".Home_activity" />
        <activity android:name=".login_activity" />
        <activity android:name=".Home_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>